/*=====================================================================
  CSS アニメーション

  参考: CSS アニメーションの使用
  https://developer.mozilla.org/ja/docs/Web/CSS/CSS_animations/Using_CSS_animations

  https://animate.style/ の利用が簡単です。
=====================================================================*/

/* ヘッダー要素にアニメーション指定 */
header {
  animation-duration: 3s;          /* 継続時間 */
  animation-name: slidein;         /* キーフレームの名前 */
  animation-iteration-count: 5;    /* 繰り返し回数 */
                                   /* 5に代えて infinite なら 無限 */
  animation-direction: alternate;  /* 前後に移動 */

  /* 一括指定 */
  /* animation: 3s 5 alternate slidein; */
}

/* キーフレームの定義 */
@keyframes slidein {
  /* from (0%, 0秒後) の指定 */
  from {
    margin-inline-start: 100%;
    width: 300%;
  }

  /* 33% (3s * 33 % = 1秒後) の指定 */
  33% {
    font-size: 75px;
    margin-inline-start: 25%;
    width: 150%;
  }

  /* to (100%, 3秒後) の指定 */
  to {
    margin-inline-start: 0%;
    width: 100%;
  }
}


/*
CSS トランジションの使用
https://developer.mozilla.org/ja/docs/Web/CSS/CSS_transitions/Using_CSS_transitions
も参考になります。
*/
