/*=============================================================================
  地図や動画に関するスタイルシート
=============================================================================*/

/* iPhone では、一列 x 二行 で配置します */
.map-container,
.video-container {
  display: grid;
  grid-template:
    "note   " auto
    "content" auto /
    1fr;
  gap: 10px;
  @media (width >= 768px) {
    /* iPad や Mac では、二列 x 一行 で配置します */
    grid-template:
      "content note" auto /
       2fr     1fr;
  }

  /* 紹介文章を配置します */
  .note {
    grid-area: note;
  }

  /* 地図や動画を配置します */
  .map,
  .video {
    grid-area: content;
    /* iPhone では、縦長(横2に対して縦3の比率)で表示します */
    aspect-ratio: 2 / 3;
    @media (width >= 768px) {
      /* iPad や Mac では、横長(横16に対して縦9の比率)で表示します */
      aspect-ratio: 16 / 9;
    }

    /* 地図や動画をグリッド内で最大表示します */
    iframe,
    video {
      width: 100%;
      height: 100%;
    }
  }
}
