/*=============================================================================
  サブタイトル
=============================================================================*/

/* サブタイトル */
.sub_title {
  grid-area: sub;
  text-align: center;

  /* 画面幅が768px以上なら */
  @media (width >= 768px) {
    align-self: center;
  }

  a {
    color: var(--sakurairo);
    text-decoration: none;

    border: solid 1px var(--sakurairo);
    padding: 10px 40px;
    display: inline-block;
    margin-block-start: 10px;
    border-radius: 10px;
    background: #555d6b80; /* 背景色を半透明に。16進表記も可能 */
    /* グラデーションにもできる */
    background: linear-gradient(45deg, var(--amairo), var(--utsushiiro)); /* 天色から移色 */

    /* マウスカーソルを重ねたときに、色や大きさを変える */
    &:hover {
      background: var(--shinonomeiro);
      scale: 1.2;
      rotate: -5deg;
      /* transition: property duration timing-function delay; */
      transition: all 0.5s ease-in-out 0s;
    }
  }

  img {
    width: 250px;
    height: auto;
    margin-inline: auto;
    /* 画面幅が768px以上なら */
    @media (width >= 768px) {
      width: 80%;
      max-width: 460px;
    }
  }
}
