/*=====================================================================
  テキストの配置や大きさ指定など
=====================================================================*/

/* 左寄せ指定 */
.lefted.text { text-align: left !important; }
/* 中央そろえ指定 */
.centered.text { text-align: center !important; }
/* 右寄せ指定 */
.righted.text { text-align: right !important; }

/* 大きさ指定
-----------------------------------------------------------------------------*/
.mini.text    { font-size: 0.40rem !important; }
.tiny.text    { font-size: 0.50rem !important; }
.small.text   { font-size: 0.75rem !important; }
.medium.text  { font-size: 1.00rem !important; }
.large.text   { font-size: 1.50rem !important; }
.big.text     { font-size: 2.00rem !important; }
.huge.text    { font-size: 4.00rem !important; }
.massive.text { font-size: 8.00rem !important; }

/* リードテキスト */
.lead.text    { font-size: 1.10rem !important; }

/* CSS見出しデザイン参考100選 https://jajaaan.co.jp/css/css-headline/ */
.title {
  position: relative;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
  text-align: center;
  font-weight: normal;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    background-image: linear-gradient(135deg,
                                      #704308 0%,
                                      #ffce08 40%,
                                      #e1ce08 60%,
                                      #704308 100%);
  }

  &::before { top: 0; }
  &::after  { bottom: 0; }
}

/* 文字を光りながら出現させるためのCSS
---------------------------------------------------------------------*/ 
.glow.text span {
  /* 初期値は透明 */
  opacity: 0;
}
.glow.text.shine span {
  /* アニメーションで透過度を0から1に変化させ、text-shadowをつける */
  animation: glow_anime_on 1s ease-out forwards;
}

@keyframes glow_anime_on {
    0% { opacity:0; text-shadow: 0 0    0 #fff, 0 0    0 #fff; }
   50% { opacity:1; text-shadow: 0 0 10px #fff, 0 0 15px #fff; }
  100% { opacity:1; text-shadow: 0 0    0 #fff, 0 0    0 #fff; }
}

/* 蛍光ペンのような文字の装飾
   ほんの一手間で劇的に変わる HTML & CSS と Webデザイン 実践講座より
---------------------------------------------------------------------*/
.yellow.highlight {
  background-image: linear-gradient(transparent 50%, #ffec47c0 50%); }

.pink.highlight {
  background-image: linear-gradient(transparent 50%, #e7609ec0 50%); }

.blue.highlight {
  background-image: linear-gradient(transparent 50%, #2ca9e1c0 50%); }
